# vim:ft=sshconfig
# .ssh/config
# @author nate zhou
# @since 2023,2024,2025

# 1. nc from openbsd-netcat instead of gnu-netcat on archlinux
# 2. to add keys to agent, run:
#   `systemctl enable --now --user ssh-agent.service`
# 3. in `.bash_profile` include below:
#   `export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket`

Host github.com
    HostName github.com
    User git
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
    AddKeysToAgent 600
    IdentityFile /home/nate/.ssh/git

Host github.com-unixchad
    HostName github.com
    User git
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
    AddKeysToAgent 600
    IdentityFile /home/nate/.ssh/git-unixchad

Host codeberg.org
    HostName codeberg.org
    User git
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
    AddKeysToAgent 600
    IdentityFile /home/nate/.ssh/git

Host codeberg.org-unixchad
    HostName codeberg.org
    User git
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
    AddKeysToAgent 600
    IdentityFile /home/nate/.ssh/git-unixchad

Host nuc11
    HostName 192.168.31.15
    User nate
    AddKeysToAgent 86400
    IdentityFile /home/nate/.ssh/id_rsa
