# .ssh/config
# @author nate zhou
# @since 2023,2024

# nc from openbsd-netcat instead of gnu-netcat on archlinux

Host codeberg.org
    HostName codeberg.org
    User git
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
    AddKeysToAgent yes
    IdentityFile /home/nate/.ssh/git
Host codeberg.org-unixchad
    HostName codeberg.org
    User git
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
    #AddKeysToAgent yes
    IdentityFile /home/nate/.ssh/git-unixchad

Host y700
    HostName 192.168.31.16
    User nate
    AddKeysToAgent yes
    IdentityFile /home/nate/.ssh/id_rsa
