# ignore everything
*

#exception
!.gitignore
!.stow-local-ignore
!LICENSE
!install.md
!README.md
package-list
!unixchad.asc
!misc/
!misc/*
!install-*.sh

!mus/
!mus/.mpdignore

!boot/
!boot/loader/
!boot/loader/loader.conf.example
!boot/loader/entries
!boot/loader/entries/arch.conf.example
!etc/
!etc/firejail/
!etc/firejail/firecfg.config
!etc/libvirt/
!etc/libvirt/network.conf
!etc/pacman.d/
!etc/pacman.d/hooks
!etc/pacman.d/hooks/*
!etc/systemd/
!etc/systemd/logind.conf
!etc/systemd/sleep.conf
!etc/tlp.conf
!etc/samba/
!etc/samba/smb.conf.example
!etc/skel/
!etc/skel/*
!etc/udev/
!etc/udev/rules.d/
!etc/udev/rules.d/*
!etc/vconsole.conf
!usr/
!usr/local/
!usr/local/share/
!usr/local/share/kbd/
!usr/local/share/kbd/keymaps/
!usr/local/share/kbd/keymaps/us-custom.map.gz

!.inputrc
!.profile
!.bashrc
!.bash_aliases
!.bash_profile
!.config/bash/
!.config/bash/aliases.bash
!.config/bash/functions.bash

!.zprofile
!.zshrc
!.config/zsh/
!.config/zsh/aliases.zsh
!.config/zsh/functions.zsh

!.config/shell/
!.config/shell/aliases.sh
!.config/shell/functions.sh
!.config/shell/profile.sh
!.config/shell/teleport.conf
!.config/shell/teleport.sh

!.ssh/
!.ssh/config.example
!.gnupg/
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
!.local/
!.local/bin
!.local/bin/*
!.local/share/
!.local/share/lockscreen
!.local/share/nvim
!.local/share/nvim/site
!.local/share/nvim/site/autoload
!.local/share/nvim/site/autoload/plug.vim
!.mozilla
!.mozilla/chrome
!.mozilla/chrome/userChrome.css
!.mozilla/example
!.mozilla/user.js.example
!.config/
!.config/btop/
!.config/btop/btop.conf.example
!.config/calcurse/
!.config/calcurse/conf
!.config/calcurse/keys
!.config/calcurse/example.ical
!.config/Code - OSS/
!.config/Code - OSS/User
!.config/Code - OSS/User/keybindings.json
!.config/Code - OSS/User/settings.json.example
!.config/crontab.example
!.config/VSCodium/
!.config/VSCodium/User
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/settings.json.example
!.config/dircolors
!.config/dunst/
!.config/dunst/dunstrc
!.config/fcitx5/
!.config/fcitx5/config
!.config/firejail
!.config/firejail/*
!.config/foot/
!.config/foot/*
!.config/fzf/
!.config/fzf/*
!.config/GIMP/
!.config/GIMP/*.*/
!.config/GIMP/*.*/shortcutsrc.example
!.config/git/
!.config/git/config.example
!.config/gtk-2.0/
!.config/gtk-2.0/gtkrc
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-3.0/gtk.css
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/gtk-4.0/gtk.css
!.config/kanshi/
!.config/kanshi/config
!.config/isyncrc.example
!.config/lesskey
!.config/lf/
!.config/lf/lfrc
!.config/lf/scope
!.config/lf/rifle
!.config/lf/colors
!.config/lf/teleport.conf
!.config/lf/local.conf
!.config/lf/icons
!.config/layout.xkb
!.config/mpd/
!.config/mpd/mpd.conf
!.config/mpv/
!.config/mpv/input.conf
!.config/mpv/mpv.conf
!.config/mutt/
!.config/mutt/muttrc
!.config/mutt/mailcap
!.config/mutt/account.example
!.config/mutt/account.md
!.config/mutt/unixchad.neomuttrc
!.config/ncmpcpp/
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/newsboat/
!.config/newsboat/config.example
!.config/newsboat/urls.example
!.config/nvim/
!.config/nvim/colors/
!.config/nvim/colors/unixchad.lua
!.config/nvim/init.vim
!.config/nvim/init.lua
!.config/nvim/.init.lua
!.config/nvim/coc-settings.json
!.config/pipewire/
!.config/pipewire/pipewire.conf.d/
!.config/pipewire/pipewire.conf.d/99-input-denoising.conf
!.config/qt5ct/
!.config/qt5ct/qt5ct.conf
!.config/qt6ct/
!.config/qt6ct/qt6ct.conf
!.config/qutebrowser/
!.config/qutebrowser/config.py.example
!.config/qutebrowser/greasemonkey/
!.config/qutebrowser/greasemonkey/yt-ads.js
!.config/ranger/
!.config/ranger/colorschemes/
!.config/ranger/colorschemes/unixchad.py
!.config/ranger/rc.conf
!.config/ranger/teleport.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/ranger/commands.py
!.config/river/
!.config/river/autostart
!.config/river/bindings
!.config/river/init
!.config/river/modes
!.config/river/rivertile
!.config/river/rivercarro
!.config/swayidle/
!.config/swayidle/config
!.config/swayimg/
!.config/swayimg/config
!.config/swaylock/
!.config/swaylock/config
!.config/task/
!.config/task/taskrc
!.config/ttyper/
!.config/ttyper/config.toml
!.config/ttyper/language/
!.config/ttyper/language/symbol-list
!.config/ttyper/language/built-in
!.config/tmux/
!.config/tmux/tmux.conf
!.config/vim/
!.config/vim/vimrc
!.config/wget/
!.config/wget/wgetrc
!.config/wob/
!.config/wob/wob.ini
!.config/yt-dlp/
!.config/yt-dlp/config
!.config/zathura/
!.config/zathura/zathurarc
!.config/electron-flags.conf
