# .inputrc
# @author nate zhou
# @since 2023,2024

$include /etc/inputrc

set editing-mode vi

# disable C-n C-p for tmux scrolling
"\C-n": ""
"\C-p": ""

# vi mode indicator
set show-mode-in-prompt on
#The Virtual Console uses different escape codes
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

Control-j: menu-complete
Control-k: menu-complete-backward
set completion-ignore-case on
# treat underscores and hyphens equally
set completion-map-case on
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
# disable due to completion not following dircolors and LS_COLORS
#set colored-stats on

# set visible-stats
set visible-stats On
# faster completion
set show-all-if-unmodified on
set show-all-if-ambiguous on

# Append char to indicate type (dir/)
set visible-stats On
# Mark symlinked directories (symlink@)
set mark-symlinked-directories On

# disabling C-c to echo (^C)
set echo-control-characters off
