# vim:ft=python
# qutebrowser/config.py
# @author nate zhou
# @since 2025

config.load_autoconfig(False) # ignore GUI settings

# Config ######################################################################
c.url.start_pages = ['/usr/share/doc/']

c.zoom.default = 125
c.fonts.web.size.default = 20 # webpage
c.fonts.default_size = '13pt' # UI

c.colors.webpage.darkmode.enabled = True
c.colors.webpage.darkmode.policy.images = 'never'

c.tabs.show = "never"

c.downloads.location.directory = "~/dls"
c.downloads.position = "bottom"

c.colors.statusbar.normal.bg = '#427b58'
c.colors.statusbar.command.bg = '#427b58'
c.colors.statusbar.normal.fg = '#eeeeee'
c.colors.statusbar.command.fg = '#eeeeee'

c.content.blocking.enabled = True

# privacy
c.content.canvas_reading = False
c.content.geolocation = False
c.content.webrtc_ip_handling_policy = "default-public-interface-only"

c.content.proxy = "http://localhost:PORT"

# keybindings #################################################################
config.bind('zi', 'zoom-in')
config.bind('zo', 'zoom-out')

config.bind('si', 'hint images download')

