# minute hour day_of_month month day_of_week command

*/15 * * * * $HOME/.local/sbin/clsd
*/15 * * * * $HOME/.local/bin/sync-config-cron

@reboot mbsync -a && pkill -SIGRTMIN+18 i3blocks
*/1 * * * * mbsync -a && pkill -SIGRTMIN+18 i3blocks

@reboot $HOME/.local/bin/updw
*/5 * * * * $HOME/.local/bin/updw-cron

@reboot $HOME/.local/bin/checkupdates-cron --now
*/15 * * * * $HOME/.local/bin/checkupdates-cron

@reboot $HOME/.local/bin/newsboat-update-cron
*/15 * * * * $HOME/.local/bin/newsboat-update-cron

@reboot $HOME/.local/bin/newsboat-num-cron
*/15 * * * * $HOME/.local/bin/newsboat-num-cron

@reboot $HOME/.local/bin/calcurse-num-cron
*/15 * * * * $HOME/.local/bin/calcurse-num-cron

#*/15 * * * * $HOME/.local/bin/randwall-cron
