# isyncrc
# @author nate zhou
# @since 2025
# 1. allow pop in mail server settings
# 2. install an XOAUTH2 SASL plugin, like: `yay -S cyrus-sasl-xoauth2-git`
# 3. add cronjob:
#    @reboot msmtp -a
#    */15 * * * * msmtp -a

## Account1
IMAPAccount account1
Host outlook.office365.com
Port 993
User <user1>@outlook.com
PassCmd "/usr/share/neomutt/oauth2/mutt_oauth2.py --decryption-pipe 'gpg --decrypt --pinentry-mode default' -t ~/.cache/mutt/oauth-account1"
TLSType IMAPS
AuthMechs XOAUTH2

IMAPStore account1-remote
Account account1

MaildirStore account1-local
Path ~/doc/mail/account1/
Inbox ~/doc/mail/account1/INBOX
SubFolders Verbatim

Channel account1
Far :account1-remote:
Near :account1-local:
Patterns *
Expunge both
CopyArrivalDate yes
Sync All
Create Near
SyncState *

## Account 2
IMAPAccount account2
Host outlook.office365.com
Port 993
User <user2>@outlook.com
PassCmd "/usr/share/neomutt/oauth2/mutt_oauth2.py --decryption-pipe 'gpg --decrypt --pinentry-mode default' -t ~/.cache/mutt/oauth-account2"
TLSType IMAPS
AuthMechs XOAUTH2

IMAPStore account2-remote
Account account2

MaildirStore account2-local
Path ~/doc/mail/account2/
Inbox ~/doc/mail/account2/INBOX
SubFolders Verbatim

Channel account2
Far :account2-remote:
Near :account2-local:
Patterns *
Expunge both
CopyArrivalDate yes
Sync All
Create Near
SyncState *
