# 99-damblocks-bluetooth.rules
# @author nate zhou
# @since 2025
# udev rules to refresh damblocks audio volume on Bluetooth connection change

# for `add` action, subsystem=="bluetooth" doesn't work on my system
ACTION=="add", SUBSYSTEM=="input", RUN+="/usr/bin/sudo -u nate /home/nate/.local/bin/audio sink reload"
# for `remove` action, subsystem=="bluetooth" works but there's also a delay
ACTION=="remove", SUBSYSTEM=="bluetooth", RUN+="/usr/bin/sudo -u nate /home/nate/.local/bin/audio sink reload"
