# @author nate zhou
# @since 2023,2024,2025

## password authentication
## put followings in a file and encrypt it
#set my_pass = "password"
## store password in a gpg encrypted file
#source "gpg -dq $HOME/.config/mutt/account1.gpg |"
#set from=USER@aliyun.com
#set hostname="aliyun.com"
#set folder = "imaps://imap.aliyun.com"
#set smtp_url = "smtps://USEER@smtp.aliyun.com:465/"

## oauth2 authentication for outlook
## https://www.vanormondt.net/~peter/blog/2021-03-16-mutt-office365-mfa.html
## 1. generate gpg key `gpg --full-gen-key`
# https://wiki.archlinux.org/title/Isync#Using_XOAUTH2
## 2.a (gpg key pair)"    `/usr/share/neomutt/oauth2/mutt_oauth2.py ~/.cache/mutt_oauth_account1 --verbose --authorize`
## 2.b (gpg passphrase):  `/usr/share/neomutt/oauth2/mutt_oauth2.py --verbose --authorize ~/.cache/mutt/oauth-account1 --encryption-pipe 'gpg -c --cipher-algo aes256'`
## 3. choose `microsoft` provider, `authcode` OAuth2 flow, `client-secret` can be empty
## https://blog.gtz.dk/posts/how-to-2famutt/
## 4. use thunderbird's client-id "9e5f94bc-e8a4-4e73-b8be-63364c29d753"
## 5. open url in browser and enter password, copy the code from the last part of the URL and enter for mutt_oauth2.py
## 6. run neomutt, `~/.gnupg/gpg.conf` `pinentry-mode loopback` might cause trouble for gpg passphrase verification
set imap_user = "<USER>@<DOMAIN>.com"
set imap_pass = $my_pass
set imap_authenticators = "xoauth2"
set imap_oauth_refresh_command = "/usr/share/neomutt/oauth2/mutt_oauth2.py --decryption-pipe 'gpg --decrypt --pinentry-mode default' /home/nate/.cache/mutt_oauth_account1"
set folder = "imaps://outlook.office365.com"

## send options
set smtp_url    = "smtp://<USER>@smtp.office365.com:587"
set realname='<REALNAME>'
set smtp_authenticators = ${imap_authenticators}
set smtp_oauth_refresh_command = ${imap_oauth_refresh_command}
set from=<USER>@outlook.com
set ssl_force_tls = yes
unset ssl_starttls

set spoolfile = "+INBOX"
## check for all IMAP folders
set imap_check_subscribed

## store message headers locally
set header_cache = "~/.cache/mutt/account1/headers"
## store message locally
set message_cachedir = "~/.cache/mutt/account1/bodies"

set certificate_file = "~/.cache/mutt/account1/certificates"
